# /etc/systemd/system/sms-forward-bot.service

[Unit]
Description=SMS Forward Bot
Requires=redis.service
After=network.target
After=redis.service

[Service]
Type=simple
ExecStart=/usr/local/bin/sms-forward-bot
Restart=always
User=sms-forward-bot
Group=sms-forward-bot
Environment=TELEGRAM_TOKEN=FILL IN
Environment=TELEGRAM_CHAT_ID=FILL IN
Environment=MODEM_ADDR=FILL IN
Environment=MODEM_PASSWORD=FILL IN

[Install]
WantedBy=multi-user.target
