# /etc/systemd/system/sms-forward-bot.service

[Unit]
Description=SMS Forward Bot
Requires=redis.service
After=network.target
After=redis.service

[Service]
Type=simple
ExecStart=/usr/local/bin/sms-forward-bot --listen
Restart=always
User=sms-forward-bot
Group=sms-forward-bot
EnvironmentFile=/etc/sms-forward-bot.env

[Install]
WantedBy=multi-user.target
